.contact {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(7, 106, 163);
    text-align: center;
    margin: 0 auto;
}

.contact h3 {
    font-size: 16px;
    font-style: bold;
    text-transform: uppercase;
    color: gold;
    margin-bottom: -10px;
}

.contact h2 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.contact p{
    color: white;
}

.contact .row {
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(7, 106, 163);
    padding-left: 1px;
}

.contact span {
    background-color: rgb(254, 255, 255);
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    align-content: center;
    font-size: 50px;
    margin-bottom: 2px;
    line-height: 6.2rem;
}

.contact p {
    color: rgba(255, 255, 255, 0.747);
    margin-top: 0px;
}

.contact .space {
    padding: 25px;
}

.contact .space span a {
    color: rgb(7, 106, 163);
    font-weight: 500;
}