.projects {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.projects h3 {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: gold;
    margin-bottom: -10px;
    padding: 0;
}

.projects h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.projects .content {
    padding-top: 20px;
}
